<%= @events.count %> events for March
<% @events.each do |event| %>
  <ul>
    <li><%= event['title'] %></li>
    <li><%= event['start_time'].split[0] %></li>
    <li><%= event['start_time'].split[-1] %></li>
    <li><%= event['description'].truncate(140) unless event['description'].nil?%></li>
    <li><%= link_to event['venue_name'] %></li>

  </ul>
<% end %>
