<% @events.each do |event| %>
  <ul>
    <li>Event Name: <%= event.name %></li>
    <li>Date & Time:<%= event.time %></li>
    <li>Description: <%= event.descripton %></li>
    <li>Venue Name: <%= event.venue_name %></li>
    <li>Venue Address: <%= event.venue_address %></li></br>
  </ul>
<% end %>
