<h1><%= @events[0].count %> events for March</h1>

<section>
  <% @events[0].each do |event| %>
  <ol class='events'>
    <li class='event_name'><h1><%= event.title %></h1></li>
    <li class='time'>Start Time:<%= event.date_time %></li>
    <li class='description'>Description: <%= event.description %></li>
    <li class='venue_name'>Venue: <%= link_to event.venue, event.url %></li>
    <li class='venue_address'>Address: <%= event.venue_address %></li>
  </ol>
  <% end %>
</section>