<div class = "container">
  <h1>List of most popular events for March 2017</h1>
  <h2>Event count: 16</h2>
  <table>
    <tr>
      <th>Event name</th>
      <th>Date & Time</th>
      <th>Description</th>
      <th>Venue name</th>
      <th>Venue address</th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date_time %></td>
        <td><%= truncate(event.description, length: event.description_limit) %></td>
        <td><%= link_to event.venue_name, event.venue_url %></td>
        <td><%= event.venue_address %></td>
      </tr>
    <% end %>
  </table>
</div>