<h2> <%= @events.count %> events for March </h2>

<% @events.each do |event| %>
  <h3> Name: <%= event.title %></h3>

  <ul>
    <li>Start Time: <%= event.pretty_start_time %></li>
    <li>Description: <%= event.abbreviated_description %></li>
    <li>Venue: <%= link_to event.venue_name, event.venue_url %></li>
    <li>Venue Address: <%= event.venue_address %></li>
  </ul>

<% end %>
